footer {
  // background-color: #2D2E32;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  color: grey;
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem 0;

  .footer {
    display: block;
  }

  .footer-mobile {
    display: none;
  }
}

@media (max-width: 480px) {
  footer {
    .footer {
      display: none;
    }

    .footer-mobile {
      display: block;
    }
  }
}