.restaurant-hours-wrapping {
  padding: 1rem 1rem 0;
  font-size: 0.875rem;
  line-height: 2rem;

  table {
    td {
      border-bottom-width: 0;
    }

    td:first-of-type {
      width: 50%;
    }
  }
}