.restaurant-info-wrapping,
.restaurant-content-wrapping,
.restaurant-menu-wrapping,
.restaurant-map-wrapping {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1.5rem 0.5rem;
  border-bottom: 1px solid #E0E0E0;

  .icon-p-wrapper {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    color: #212121;

    .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .material-symbols-outlined {

        font-variation-settings:
          'FILL' 0,
          'wght' 300,
          'GRAD' 0,
          'opsz' 20;
      }
    }
  }
}

.restaurant-content-wrapping {
  line-height: 2rem;
}

.restaurant-menu-wrapping {
  .menu-items {
    display: flex;
    gap: 0.5rem;

    &>div {
      box-shadow: none;
    }
  }
}

.restaurant-map-wrapping {
  border-bottom: none;
  padding: 1.5rem 0.5rem 0;

  .restaurant-map-style {
    height: 400px;
  }
}

.MuiModal-root {
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    width: unset;
  }
}