.restaurant-info-wrapping,
.restaurant-content-wrapping,
.restaurant-menu-wrapping {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1.5rem 0.5rem;
  border-bottom: 1px solid #E0E0E0;

  .icon-p-wrapper {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    color: #212121;

    .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .material-symbols-outlined {

        font-variation-settings:
          'FILL' 0,
          'wght' 300,
          'GRAD' 0,
          'opsz' 20;
      }
    }
  }
}

.restaurant-content-wrapping {
  line-height: 1.5rem;
}

.restaurant-menu-wrapping {
  border-bottom: none;
}