main {
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  max-width: 1200px;
  margin: 40px;
  display: grid;
  grid-template-rows: 320px auto;
  grid-template-columns: auto 400px;
  grid-template-areas: "banner banner"
    "content sidebar";
  grid-gap: 40px;

  &>div {
    padding: 40px;
    border-radius: 8px;
  }

  .banner {
    grid-area: banner;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .content {
    grid-area: content;
    background-color: white;

  }

  .sidebar {
    grid-area: sidebar;
    background-color: white;

  }
}

.main-seating {
  grid-template-areas: "banner banner"
    "content content";
}

@media (max-width: 1280px) {
  .main-content {
      max-width: 100%;
      grid-template-areas: "banner banner"
        "content content";

      .sidebar {
        display: none;
      }
    }
  .main-sidebar {
    max-width: 100%;
    grid-template-areas: "banner banner"
      "sidebar sidebar";

    .content {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .main-content {
      margin: 0;
      grid-template-rows: 200px auto;
      grid-template-columns: unset;
      grid-gap: 0;

      .banner {
        border-radius: 0;
      }

      .content {
        margin: 24px;
        padding: 24px;
      }
    }
  .main-sidebar {
    margin: 0;
    grid-template-rows: 200px auto;
    grid-template-columns: unset;
    grid-gap: 0;

    .banner {
      border-radius: 0;
    }

    .sidebar {
      margin: 24px;
      padding: 24px;
    }
  }
}