/* Use a Flexbox to make the Palette/Diagram responsive */
#myFlexDiv {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (min-width: 768px) {
  #myGuests {
    width: 100px;
    height: 500px;
    margin-right: 10px;
  }

  #myDiagramDiv {
    height: 500px;
    flex: 1;
  }
}

@media (max-width: 767px) {
  #myGuests {
    width: 20%;
    max-width: 100px;
    height: 500px;
  }

  #myDiagramDiv {
    width: 80%;
    height: 500px;
    flex: 1;
  }
}

.seating-btn-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Two columns with equal width */
  grid-gap: 10px;
  /* Gap between grid items */
  margin-top: 20px;
  /* Adjust the margin as needed */
}

.seating-btn-grid .btn-seating-back {
  border: 1px solid #000;
}