* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Serif', 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
button {
  font-family: 'Playfair Display', 'Noto Serif', 'Times New Roman', Times, serif;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.table {
  margin-bottom: 0; // unset Bootstrap
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #FF6F00;
}

#root {
  background-image: url("../images/az-subtle.png");
  background-repeat: repeat;
  background-size: auto;
}

@import "./nav";
@import "./main";
@import "./footer";
@import "./hours";
@import "./intro";
@import "./seating";
@import "./diner";
@import "./submission";