* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  background-color: black;
}

h1,
h2,
h3,
button {
  font-family: "Playfair Display", "Noto Serif", "Times New Roman", Times, serif;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.table {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #FF6F00;
}

#root {
  background-color: white;
  background-image: url("../images/az-subtle.png");
  background-repeat: repeat;
  background-size: auto;
}

nav {
  background-color: #2D2E32;
  display: flex;
  justify-content: center;
}
nav .nav {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 64px;
  width: 100%;
  max-width: 1200px;
}
nav .logo {
  display: flex;
  padding-right: 1rem;
  height: 2.4rem;
}
nav .logo .logo-img {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}
nav .logo .logo-seat {
  font-weight: 600;
  color: white;
  font-size: 2rem;
}
nav .logo .logo-savvy {
  font-weight: 400;
  color: #FFD740;
  font-size: 2rem;
}
nav .nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0 40px;
}
nav .nav-links a {
  color: white;
}

@media (max-width: 480px) {
  nav .nav {
    height: 56px;
  }
  nav .logo {
    padding-right: 0.75rem;
    height: 2rem;
  }
  nav .logo .logo-seat,
  nav .logo .logo-savvy {
    font-size: 1.75rem;
  }
}
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  color: grey;
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem 0;
}
footer .footer {
  display: block;
}
footer .footer-mobile {
  display: none;
}

@media (max-width: 480px) {
  footer .footer {
    display: none;
  }
  footer .footer-mobile {
    display: block;
  }
}
.landing {
  display: block;
}

.landing-cta-btn {
  font-weight: 600;
  font-size: 1.2rem;
}

.landing-hero {
  height: 70vh;
  min-height: 720px;
  background-image: url("../images/Landing_Hero.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Playfair Display", "Noto Serif", "Times New Roman", Times, serif;
  font-weight: 600;
}
.landing-hero .landing-hero-slogan h1 {
  font-size: 4rem;
  color: white;
}
.landing-hero .landing-hero-box {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
}
.landing-hero .landing-hero-box h3 {
  line-height: 2rem;
}
@media (max-width: 1200px) {
  .landing-hero .landing-hero-slogan {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .landing-hero .landing-hero-slogan h1 {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .landing-hero {
    height: calc(100vh - 56px);
    min-height: unset;
    padding: 0 40px;
  }
  .landing-hero .landing-hero-slogan h1 {
    font-size: 2.5rem;
  }
  .landing-hero .landing-hero-box {
    margin: 0 40px;
  }
}
@media (max-width: 400px) {
  .landing-hero {
    padding: 0 16px;
  }
  .landing-hero .landing-hero-slogan h1 {
    font-size: 2rem;
  }
  .landing-hero .landing-hero-box h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .landing-hero .landing-hero-box .landing-cta-btn {
    font-size: 1rem;
  }
}

.landing-restaurants .landing-restaurants-wrapping {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
  padding: 0 40px;
  text-align: center;
}
.landing-restaurants .landing-restaurants-wrapping h2 {
  margin-bottom: 40px;
}
.landing-restaurants .landing-restaurants-wrapping .landing-restaurants-items {
  width: 100%;
  max-width: 960px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.landing-restaurants .landing-restaurants-wrapping .landing-restaurants-items .restaurants-item {
  aspect-ratio: 4/3;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out, box-shadow 0.8s ease-in-out;
}
.landing-restaurants .landing-restaurants-wrapping .landing-restaurants-items .restaurants-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1);
}
.landing-restaurants .landing-restaurants-wrapping .landing-restaurants-items .restaurants-item:hover .item-image {
  height: 70%;
}
.landing-restaurants .landing-restaurants-wrapping .landing-restaurants-items .restaurants-item:hover .item-text {
  height: 30%;
}
.landing-restaurants .landing-restaurants-wrapping .landing-restaurants-items .restaurants-item .item-image {
  height: 75%;
  background-position: center;
  background-size: cover;
  border-radius: 8px 8px 0 0;
  transition: height 0.6s ease-in-out;
}
.landing-restaurants .landing-restaurants-wrapping .landing-restaurants-items .restaurants-item .item-text {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  padding: 0 1.5rem;
  text-align: center;
  transition: height 0.6s ease-in-out;
}
.landing-restaurants .landing-restaurants-wrapping .landing-restaurants-items .restaurants-item .item-text p {
  color: #757575;
  font-size: 0.875em;
}
@media (max-width: 1040px) {
  .landing-restaurants .landing-restaurants-wrapping .landing-restaurants-items {
    max-width: 100%;
  }
}
@media (min-width: 880px) and (max-width: 1040px) {
  .landing-restaurants .landing-restaurants-wrapping .landing-restaurants-items h3 {
    font-size: clamp(1.25rem, 2.5vw - 0.12rem, 1.5rem);
  }
}
@media (max-width: 880px) {
  .landing-restaurants .landing-restaurants-wrapping {
    margin: 64px 0;
  }
  .landing-restaurants .landing-restaurants-wrapping .landing-restaurants-items {
    max-width: 480px;
    grid-template-columns: 1fr;
  }
  .landing-restaurants .landing-restaurants-wrapping .landing-restaurants-items h3 {
    font-size: 1.25rem;
  }
}
@media (max-width: 480px) {
  .landing-restaurants .landing-restaurants-wrapping {
    padding: 0 16px;
    margin: 40px 0;
  }
  .landing-restaurants .landing-restaurants-wrapping h2 {
    margin-bottom: 24px;
    font-size: 1.75rem;
  }
  .landing-restaurants .landing-restaurants-wrapping .landing-restaurants-items {
    grid-gap: 24px;
  }
  .landing-restaurants .landing-restaurants-wrapping .landing-restaurants-items h3 {
    font-size: clamp(1rem, 4.5vw, 1.25rem);
  }
  .landing-restaurants .landing-restaurants-wrapping .landing-restaurants-items .restaurants-item {
    aspect-ratio: 1/1;
  }
}

.landing-contact {
  height: 25vw;
  max-height: 400px;
  min-height: 200px;
  background-color: black;
  background-image: url("../images/Landing_Footer.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-contact .landing-contact-wrapping {
  color: white;
  font-family: "Playfair Display", "Noto Serif", "Times New Roman", Times, serif;
}
@media (max-width: 576px) {
  .landing-contact .landing-contact-wrapping h2 {
    font-size: clamp(1.25rem, 4.7vw + 0.3rem, 2rem);
  }
}

main {
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  max-width: 1200px;
  margin: 40px;
  display: grid;
  grid-template-rows: 320px auto;
  grid-template-columns: auto 400px;
  grid-template-areas: "banner banner" "content sidebar";
  grid-gap: 40px;
}
.main > div {
  padding: 40px;
  border-radius: 8px;
}
.main .banner {
  grid-area: banner;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main .content {
  grid-area: content;
  background-color: white;
}
.main .sidebar {
  grid-area: sidebar;
  background-color: white;
}

.main-seating {
  grid-template-areas: "banner banner" "content content";
}

@media (max-width: 1280px) {
  .main-content {
    max-width: 100%;
    grid-template-areas: "banner banner" "content content";
  }
  .main-content .sidebar {
    display: none;
  }
  .main-sidebar {
    max-width: 100%;
    grid-template-areas: "banner banner" "sidebar sidebar";
  }
  .main-sidebar .content {
    display: none;
  }
}
@media (max-width: 480px) {
  .main-content {
    margin: 0;
    grid-template-rows: 200px auto;
    grid-template-columns: unset;
    grid-gap: 0;
  }
  .main-content .banner {
    border-radius: 0;
  }
  .main-content .content {
    margin: 24px;
    padding: 24px;
  }
  .main-sidebar {
    margin: 0;
    grid-template-rows: 200px auto;
    grid-template-columns: unset;
    grid-gap: 0;
  }
  .main-sidebar .banner {
    border-radius: 0;
  }
  .main-sidebar .sidebar {
    margin: 24px;
    padding: 24px;
  }
}
.sidebar section {
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 1.5rem;
}
.sidebar section:last-of-type {
  border-bottom: unset;
  margin-bottom: 0;
}
.sidebar h2 {
  text-align: center;
}

.info-mobile {
  display: none;
}

.restaurant-side-content {
  display: none;
}

.restaurant-side-info-wrapping {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1.5rem 0.5rem;
}
.restaurant-side-info-wrapping .icon-p-wrapper {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  color: #212121;
}
.restaurant-side-info-wrapping .icon-p-wrapper .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurant-side-info-wrapping .icon-p-wrapper .icon-wrapper .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 20;
}

.restaurant-side-content-wrapping {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 0.5rem 1.5rem;
}

.reservation-info-wrapping {
  padding: 1.5rem 0;
}
.reservation-info-wrapping .reservation-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.reservation-info-wrapping .reservation-form div:last-child {
  font-size: 0.875rem;
  padding: 0 1rem;
  color: #757575;
}

.restaurant-hours-wrapping {
  padding: 1rem 1rem 0;
  font-size: 0.875rem;
  line-height: 2rem;
}
.restaurant-hours-wrapping table td {
  border-bottom-width: 0;
}
.restaurant-hours-wrapping table td:first-of-type {
  width: 50%;
}

@media (max-width: 1280px) {
  .restaurant-side-info,
  .restaurant-side-content {
    display: block;
  }
  .restaurant-hours-wrapping {
    line-height: 1.5rem;
  }
  .restaurant-hours-wrapping table td:first-of-type {
    text-align: right;
    width: 45%;
    padding-right: 2.5rem;
  }
}
@media (max-width: 480px) {
  .restaurant-side-info-wrapping,
  .restaurant-side-content-wrapping {
    font-size: 0.875rem;
  }
  .restaurant-hours-wrapping {
    padding: 1rem 0 0 0;
    font-size: 0.75rem;
    line-height: 1.2rem;
  }
  .restaurant-hours-wrapping table td:first-of-type {
    padding-right: 1rem;
    width: 42%;
  }
}
.restaurant-info-wrapping,
.restaurant-content-wrapping,
.restaurant-menu-wrapping {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1.5rem 0.5rem;
  border-bottom: 1px solid #E0E0E0;
}
.restaurant-info-wrapping .icon-p-wrapper,
.restaurant-content-wrapping .icon-p-wrapper,
.restaurant-menu-wrapping .icon-p-wrapper {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  color: #212121;
}
.restaurant-info-wrapping .icon-p-wrapper .icon-wrapper,
.restaurant-content-wrapping .icon-p-wrapper .icon-wrapper,
.restaurant-menu-wrapping .icon-p-wrapper .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurant-info-wrapping .icon-p-wrapper .icon-wrapper .material-symbols-outlined,
.restaurant-content-wrapping .icon-p-wrapper .icon-wrapper .material-symbols-outlined,
.restaurant-menu-wrapping .icon-p-wrapper .icon-wrapper .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 20;
}

.restaurant-content-wrapping {
  line-height: 2rem;
}

.restaurant-content-wrapping,
.restaurant-menu-wrapping {
  border-bottom: none;
}

/* Use a Flexbox to make the Palette/Diagram responsive */
#myFlexDiv {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (min-width: 768px) {
  #myGuests {
    width: 100px;
    height: 500px;
    margin-right: 10px;
  }
  #myDiagramDiv {
    height: 500px;
    flex: 1;
  }
}
@media (max-width: 767px) {
  #myGuests {
    width: 20%;
    max-width: 100px;
    height: 500px;
  }
  #myDiagramDiv {
    width: 80%;
    height: 500px;
    flex: 1;
  }
}
.seating-btn-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Two columns with equal width */
  grid-gap: 10px;
  /* Gap between grid items */
  margin-top: 20px;
  /* Adjust the margin as needed */
}

.seating-btn-grid .btn-seating-back {
  border: 1px solid #000;
}/*# sourceMappingURL=style.css.map */